<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">



    <div class="container">

        <!--Collapse content-->
        <div class="   ">
            <!--Navbar Brand-->
            <a class="navbar-brand">Driving School Application</a>
            <!--Links-->
            <ul class="nav   navbar-nav  nav-right-flex">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href="" ui-sref="customer-list">Customers</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href="" ui-sref="payment-list">Payments</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href="" ui-sref="attendence-list">Attendance</a>
                </li>
                <li class="nav-item btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logout</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Logout</a>

                    </div>
                </li>
            </ul>

        </div>
        <!--/.Collapse content-->

    </div>

</nav>

<div class="container">
 
        <div ui-view=""   style="padding-top:3rem"></div>
    </div>

</div>