<!--Navbar-->
<nav class="navbar navbar-fixed-top navbar-dark bg-primary">



    <div class="container">

        <!--Collapse content-->
        <div class="   ">
            <!--Navbar Brand-->
            <a class="navbar-brand">Driving School Application</a>
            
            <!--Links-->
            <ul class="nav   navbar-nav  nav-right-flex">
 
                <li class="nav-item btn-group active">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customers</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a ui-sref="customer-list" class="dropdown-item">View All</a>
                        <a ui-sref="customer-new" class="dropdown-item">Create New</a>
                    </div>
                </li>

                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="payment-list">Payments</a>
 
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href="" ui-sref="attendence-list">Attendance</a>
                </li>
                <li class="nav-item btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logout</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Logout</a>

                    </div>
                </li>
            </ul>

        </div>
        <!--/.Collapse content-->

    </div>

</nav>

<div class="container">

<ol class="breadcrumb" style="padding-top:5rem">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><a href="#">Library</a></li>
  <li class="breadcrumb-item active">Data</li>
</ol>
    <div ui-view="" ></div>
</div>

</div>