<!--Form with header-->
<div class="center-everything" style="height:100%">
    <div class="card" style="width:30rem">
        <div class="card-block">

            <!--Header-->
            <div class="form-header blue darken-4">
                <h3>  Login</h3>
            </div>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form2" placeholder="Your Username" class="form-control">
             
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form4" class="form-control" placeholder="Your Password">
                
            </div>

            <div class="text-xs-center">
                <button class="  btn btn-primary" ui-sref="customer-list">Login</button>
            </div>

        </div>

      

    </div>
</div>
 