<div ng-if="!vm.loading" class="row" style="padding-bottom: 1rem">
    <div class="col-md-3">
        <br>
        <div class="card">
            <div class="card-block">


                <div class="form-header {{(vm.customer.status =='active')?'green':'red'}}  " style="width:4rem;margin-bottom:0cm">

                    <h4><i class=" fa fa-user  "></i></h4>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <h5 class="pull-right"> {{(vm.customer.status =='active')?'ACTIVE':'INACTIVE'}} - {{vm.customer.id | numberFixedLen:4}}</h5>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="pull-right" style="text-align: right"> {{vm.customer.fullname}} </h6>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <h6 class="pull-left"> PAID </h6>
                    </div>
                </div>
                <progress class="progress progress-info" value="{{(vm.totalPaid /vm.customer.total_price) * 100}}" max="100">50%</progress>
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="pull-right"> <small>{{vm.totalPaid | currency:"Rs. "}} / {{vm.customer.total_price | currency:"Rs. " }}</small></h6>
                    </div>
                </div>
                <div class="row" style="margin-top:0.5rem;">
                    <div class="col-md-12">
                        <h6 class="pull-right" style="text-align: right;font-size:90%"> Joined On {{vm.customer.date_of_admission}} </h6>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-size: 85%" style="text-align: center">{{vm.customer.address || 'Address Not Available'}}</p>
                    </div>
                </div>
            </div>
        </div>


        <ul class="list-group">
            <li class="list-group-item">
                <span class="fa fa-user"></span> &nbsp;&nbsp;&nbsp;{{vm.customer.nic}}
            </li>
            <li class="list-group-item"> <span class="fa fa-phone"></span> &nbsp;&nbsp;&nbsp;{{vm.customer.phone1}}</li>
            <li class="list-group-item"><span class="fa fa-home"></span> &nbsp;&nbsp;&nbsp;{{vm.customer.phone2 || 'Unavailable'}}</li>

        </ul>

        <div class="card" style="margin-top:1rem">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="text-align: left">REMARKS</h5>
                    </div>
                </div>

                <hr style="margin-top:0cm">
                <p style="color: gray">{{vm.customer.remarks || 'Unavailable'}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">



        <div class="row">
            <ul class="nav nav-tabs tabs-3 unique-color" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Exams</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Settings</a>
                </li>

            </ul>

            <!-- Tab panels -->
            <div class="tab-content card">

                <!--Panel 1-->
                <div class="tab-pane fade in active" id="panel1" role="tabpanel">

                    <br>

                    <table class="table  table-striped table-hover">
                        <thead>
                            <tr>
                                <td></td>
                                <td>#</td>
                                <td>Date</td>
                                <td>Description</td>
                                <td>Credit</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in vm.payments">
                                <td><i class="fa fa-plus-circle green-text" aria-hidden="true"></i></td>
                                <td>{{x.id | numberFixedLen:3}}</td>
                                <td>{{x.date}}</td>
                                <td>{{x.description}}</td>
                                <td style="text-align: right">{{x.amount | currency:"Rs. "}}</td>

                            </tr>

                        </tbody>
                        <tfoot>
                            <tr style="border-top:3px solid #E0E0E0">
                                <td colspan="3"> Total Paid</td>


                                <td colspan="2" style="text-align: right">{{vm.totalPaid | currency:"Rs. "}} / {{vm.customer.total_price | currency:"Rs. " }}</td>
                            </tr>
                            <tr style="border-top:3px solid #E0E0E0">
                                <td colspan="4"> Total Due</td>
                                <td class="success" style="text-align: right;border-bottom:4px solid #BDBDBD; border-bottom-style: double"> {{vm.due | currency:"Rs. " }}</td>

                            </tr>
                        </tfoot>
                    </table>

                </div>
                <!--/.Panel 1-->

                <!--Panel 2-->
                <div class="tab-pane fade" id="panel2" role="tabpanel">
                    <br>
                    <h5>Add New Exam</h5>
                    <hr>
                    <form name="examForm" ng-submit="vm.saveExam()">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-1">
                                <md-datepicker required ng-model="vm.exam.examDate" name="examDate" md-placeholder="Exam Date"></md-datepicker>
                                <div ng-messages="examForm.examDate.$error" ng-messages-multiple>
                                    <div style="font-size: 75%;color:red;font-style: italic;padding-left:3rem" ng-message="required">*This field is required.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <md-select name="type" required style="margin-bottom:0cm; margin-top:0cm" ng-model="vm.exam.type" placeholder="Exam Type">
                                    <md-option value="Practical" selected>Practical</md-option>
                                    <md-option value="Written">Written</md-option>

                                </md-select>
                                <div ng-messages="examForm.type.$error" ng-messages-multiple>
                                    <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4 col-md-offset-1" style="padding-left:4rem">
                                <input placeholder="Time" required ng-model="vm.exam.time" name="time" type="text" class="form-control">
                                <div ng-messages="examForm.time.$error" ng-messages-multiple>
                                    <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input placeholder="Exam Code" required name="code" ng-model="vm.exam.code" type="text" class="form-control">
                                <div ng-messages="examForm.code.$error" ng-messages-multiple>
                                    <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <button type="submit" class="btn btn-info ">Save</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <h5> Exam History</h5>

                    <table class="table table-striped  table-hover">
                        <thead>
                            <tr>

                                <td>#</td>
                                <td> Type</td>
                                <td> Code</td>
                                <td>Date</td>
                                <td>Time</td>
                                <td>Status</td>
                                <td></td>

                            </tr>
                        </thead>
                        <tbody>




                            <tr ng-repeat="x in vm.exams">

                                <td>{{x.id | numberFixedLen:3 }}</td>
                                <td>{{x.type}}</td>
                                <td>{{x.code}}</td>
                                <td>{{x.date}}</td>
                                <td>{{x.time}}</td>
                                <td>


                                    <span style="text-transform: capitalize" class="tag tag-{{(x.status =='Passed')?'success':(x.status =='Failed')?'danger':'default'}}">{{x.status}}</span>

                                </td>

                                <td style="padding: 0cm">

                                    <button type="button" class="btn btn-info btn-sm" style="padding: 8px;margin-right:0cm"> 
   <i class="fa fa-pencil" ng-click="vm.editExam($event,x)" aria-hidden="true"></i>
</button>
                                    <button ng-click="vm.deleteExam($event,x.id)" type="button" class="btn btn-danger btn-sm" style="padding: 8px;"> 
    <i class="fa fa-trash" aria-hidden="true"></i>
</button>
                                </td>


                            </tr>


                        </tbody>

                    </table>




                </div>

                <div class="tab-pane fade in  " id="panel3" role="tabpanel">
                    <br><br>
                    <form class="form-horizontal  " name="CustomerForm" ng-submit='vm.updateCustomer()'>


                        <div class="row" style="padding-bottom: 1rem">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <md-datepicker ng-model="customer.joinDate" name="joinDate" md-placeholder="Join Date" required></md-datepicker>
                                    <label class="active" style="padding-left:4rem">Join Date</label>
                                    <div ng-messages="CustomerForm.joinDate.$error" ng-messages-multiple>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="md-form">
                                    <input style="margin-bottom:0.5rem" name="cname" ng-model="customer.name" required="true" type="text" placeholder="Enter Customer Name" class="form-control">
                                    <label class="active">Customer Name</label>
                                    <div ng-messages="CustomerForm.cname.$error" ng-messages-multiple>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="padding-bottom: 1rem">
                            <div class="col-md-4">

                                <div class="md-form form-group">
                                    <input style="margin-bottom:0.5rem" type="text" name="nic" ng-model="customer.nic" required placeholder="Enter NIC Number" class="form-control">
                                    <label class="active">Customer NIC</label>
                                    <div ng-messages="CustomerForm.nic.$error" ng-messages-multiple>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="md-form form-group">
                                    <input style="margin-bottom:0.5rem" type="text" name="cmobile" ng-pattern="'^[0-9]{10}$'" ng-model="customer.mobile" required placeholder="Enter Mobile Number" class="form-control">
                                    <label class="active">Customer Mobile</label>
                                    <div ng-messages="CustomerForm.cmobile.$error" ng-messages-multiple>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="pattern">Mobile must be numeric and 10 digits long</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="md-form">
                                    <input ng-pattern="'^[0-9]{10}$'" name="land" type="text" style="margin-bottom:0.5rem" ng-model="customer.land" placeholder="Enter Land Number" class="form-control">
                                    <label class="active">Customer Land</label>
                                    <div ng-messages="CustomerForm.land.$error" ng-messages-multiple>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="pattern">Land must be numeric and 10 digits long</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-bottom: 1rem">
                            <div class="col-md-6">
                                <div class="md-form">

                                    <textarea rows="3" ng-model="customer.address" type="text" placeholder="Enter Customer Address" class="md-textarea"></textarea>
                                    <label class="active">Customer Address</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">

                                    <textarea rows="3" ng-model="customer.remarks" type="text" placeholder="Enter   Additional Details" class="md-textarea"></textarea>
                                    <label class="active">Customer Remarks</label>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <div class="md-form">

                                    <input style="margin-bottom:0.5rem" required type="text" format="number" name="fees" ng-model="customer.fees" placeholder="Enter Total Fees" class="form-control">
                                    <label class="active">Customer Total Fees</label>
                                    <div ng-messages="CustomerForm.fees.$error" ng-messages-multiple>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="pattern">Price must be a valid price.</div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-top:0.3rem">
                                <div class="md-form">
                                    <label class="active">Status</label>
                                    <md-select name="cstatus" required style="margin-top:0cm" ng-model="customer.status" placeholder="Exam Type">
                                        <md-option value="active">Active</md-option>
                                        <md-option value="inactive">In-Active</md-option>

                                    </md-select>
                                    <div ng-messages="CustomerForm.cstatus.$error" ng-messages-multiple>
                                        <div style="font-size: 75%;color:red;font-style: italic" ng-message="required">*This field is required.</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-3" style="padding-top:1rem;">
                                <button type="button" ng-click="vm.buildCustomer()" class="btn  btn-blue-grey btn-block">Reset</button>
                            </div>
                            <div class="col-md-3" style="padding-top:1rem;">
                                <button type="submit" class="btn btn-primary btn-block">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/.Panel 2-->


            </div>
        </div>

    </div>

</div>


<div ng-if="vm.loading" class="row">
    <div class="col-md-5">

    </div>
    <!--
    -->
    <div class="col-md-5 vcenter" style="padding-left:2rem;padding-top:6rem;">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
            </div>
        </div>

    </div>
</div>