<br>
<div class="card">
    <div class="card-block">



        <div class="form-header green  ">
            <h4>Create New Customer</h4>
        </div>

        <div class="row" style="padding-bottom: 1rem">
            <div class="col-md-4">
                <div class="md-form">
                    <md-datepicker ng-model="myDate" md-placeholder="Join Date"></md-datepicker>
                    <label class="active" style="padding-left:4rem">Join Date</label>
</div>
</div>
<div class="col-md-8">
    <div class="md-form">
        <input type="text" placeholder="Enter Customer Name" class="form-control">
        <label class="active">Customer Name</label>
    </div>
</div>

</div>
<div class="row" style="padding-bottom: 1rem">
    <div class="col-md-4">

        <div class="md-form">
            <input type="text" placeholder="Enter NIC Number" class="form-control">
            <label class="active">Customer NIC</label>
        </div>

    </div>
    <div class="col-md-4">
        <div class="md-form">
            <input type="text" placeholder="Enter Mobile Number" class="form-control">
            <label class="active">Customer Mobile</label>

        </div>
    </div>
    <div class="col-md-4">
        <div class="md-form">
            <input type="text" placeholder="Enter Land Number" class="form-control">
            <label class="active">Customer Land</label>

        </div>
    </div>
</div>

<div class="row" style="padding-bottom: 1rem">
    <div class="col-md-6">
        <div class="md-form">

            <textarea rows="3" type="text" placeholder="Enter Customer Address" class="md-textarea"></textarea>
            <label class="active">Customer Address</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="md-form">

            <textarea rows="3" type="text" placeholder="Enter   Additional Details" class="md-textarea"></textarea>
            <label class="active">Customer Remarks</label>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-6">
        <div class="md-form">

            <input type="text" placeholder="Enter Total Fees" class="form-control">
            <label class="active">Customer Total Fees</label>
        </div>
    </div>

</div>



</div>

</div>